.company {
    margin: 1rem auto;
    padding: 1rem 0;
}

.company .company-section {
    /* background-color: var(--color-orange); */
    margin: 1rem 0;
}

.company .company-title {
    margin: 3rem auto;
    padding-top: 1rem;
    text-align: center;
}

.company img {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    height: 2.1rem;
    cursor: pointer;
}

.company .slick-dots {
    position: static;
    margin: 2rem 0;
}

.company .slick-slide > div {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .company img {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .company img {
        width: 50%;
    }
}