@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --color-black: #020202;
  --color-grey: #e8e8e8;
  --color-orange: #f5d10d;
  --color-white: #fff;
  --color-dgray: rgb(69, 68, 68);
  --color-red: rgb(251, 20, 20);
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}

.orange_btn {
  /* border: 2px solid var(--color-dgray); */
  border: none;
  outline: none;
  background: var(--color-orange);
  padding: 9px 20px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  /* width: 100%; */
  color: var(--color-dgray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}
.gray_btn {
  border: none;
  outline: none;
  background: var(--color-dgray);
  padding: 9px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}
.red_btn {
  border: none;
  outline: none;
  background: var(--color-red);
  padding: 9px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}
/* .dark-outline_btn {
  padding: 0.5rem 1rem;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 7px;
  transition: 0.3s ease-in;
}
.dark-outline_btn:hover {
  cursor: pointer;
  box-shadow: inset 300px 0 0 0 var(--color-orange);
  border: 1px solid var(--color-orange);
} */
.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  z-index: 99;
}
.small_circle {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  background: var(--bg-third);
  cursor: pointer;
}
.btn-schedule a {
  color: var(--color-dgray);
}
