.confirmation_btns {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
}
.confirmation_btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.confirmation_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-white);
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  min-height: 150px;
  width: 30vw;
  border-radius: 5px;
}

.container_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding: 0.875rem 0.938rem;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid var(--color-grey);
  background-color: var(--color-black);
  color: var(--color-white);
}

.confirmation_container .small_circle {
  position: absolute;
  right: 16px;
  top: 12px;
}

@media screen and (max-width: 1024px) {
  .addCar_container {
    width: 40vw;
  }
}

@media screen and (max-width: 768px) {
  .addCar_container {
    width: 60vw;
  }
}

@media screen and (max-width: 425px) {
  .addCar_container {
    width: 90vw;
  }
}
